@charset "UTF-8";
/*초기설정 시작*/
*{
	margin: 0;
	border: 0;
}
/*초기설정 끝 */
/*눈누에서 세방고딕 글씨체 시작 font-weight:700이랑 같이 쓰자*/
@font-face {
    font-family: 'SEBANG_Gothic_Bold';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2104@1.0/SEBANG_Gothic_Bold.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
/*눈누에서 세방고딕 글씨체 끝*/

/*-------------------------------------------------------------가로 : 769px 이상 640px 이하 시작------------------------------------------------------------------*/
@media (max-width: 640px) {
/*헤더 시작*/ 
.header{
	 width: 1200px;
	 margin: 0 auto;
	 border-top: 1px solid #c0c0c0;
}
#header_logo{
	font-family: 'SEBANG_Gothic_Bold';
	font-weight: 700;
	font-size: 40px;
	margin: 20px 20px;
	display: flex;
}

a:hover{
	text-decoration: none;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}

a:active{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

/*헤더 끝*/  
/*햄버거 드롭다운 시작*/
/*일반유저 로그인 시작*/
.member_menu_open{position: fixed;width: 1115.5px;height: 60.7vh;background: #ffffff;top: 140px;left: 11px;z-index: 999;padding: 3rem;border: 1px solid black; display: none}
/*일반유저 로그인 끝*/
/*관리자 로그인 시작*/
.admin_menu_open{position: fixed;width: 1115.5px;height: 60.7vh;background: #ffffff;top: 140px;left: 11px;z-index: 999;padding: 3rem;border: 1px solid black; display: none}
/*관리자 로그인 끝*/
/*로그인 안했을떄 시작*/
.menu_open{
	position: fixed;
    width: 739px;
    height: 63.7vh;
    background: #ffffff;
    top: 144px;
    left: 12.5px;
    z-index: 999;
    padding: 3rem;
    display: none;		
}
/*로그인 안했을떄 끝*/

/*햄버거 드롭다운 끝*/	
}
/*-------------------------------------------------------------가로 : 769px 이상 960px 이하 시작------------------------------------------------------------------*/
/*-------------------------------------------------------------가로 : 769px 이상 960px 이하 시작------------------------------------------------------------------*/
@media (min-width: 641px) and (max-width: 768px) {
/*헤더 시작*/ 
.header{
	 width: 1200px;
	 margin: 0 auto;
	 border-top: 1px solid #c0c0c0;
}
#header_logo{
	font-family: 'SEBANG_Gothic_Bold';
	font-weight: 700;
	font-size: 40px;
	margin: 20px 20px;
	display: flex;
}

a:hover{
	text-decoration: none;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}

a:active{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

/*헤더 끝*/  
/*햄버거 드롭다운 시작*/
/*일반유저 로그인 시작*/
.member_menu_open{position: fixed;width: 1115.5px;height: 60.7vh;background: #ffffff;top: 140px;left: 11px;z-index: 999;padding: 3rem;border: 1px solid black; display: none}
/*일반유저 로그인 끝*/
/*관리자 로그인 시작*/
.admin_menu_open{position: fixed;width: 1115.5px;height: 60.7vh;background: #ffffff;top: 140px;left: 11px;z-index: 999;padding: 3rem;border: 1px solid black; display: none}
/*관리자 로그인 끝*/
/*로그인 안했을떄 시작*/
.menu_open{
	position: fixed;
    width: 739px;
    height: 63.7vh;
    background: #ffffff;
    top: 144px;
    left: 12.5px;
    z-index: 999;
    padding: 3rem;
    display: none;	
}
/*로그인 안했을떄 끝*/



/*햄버거 드롭다운 끝*/	
	
}
/*-------------------------------------------------------------가로 : 641px 이상 768px 이하 끝------------------------------------------------------------------*/
/*-------------------------------------------------------------가로 : 769px 이상 960px 이하 시작------------------------------------------------------------------*/
@media (min-width: 769px) and (max-width: 967px) {
/*헤더 시작*/ 
.header{
	 width: 1200px;
	 margin: 0 auto;
	 border-top: 1px solid #c0c0c0;
}
#header_logo{
	font-family: 'SEBANG_Gothic_Bold';
	font-weight: 700;
	font-size: 40px;
	margin: 20px 20px;
	display: flex;
}

a:hover{
	text-decoration: none;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}

a:active{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

/*헤더 끝*/  
/*햄버거 드롭다운 시작*/
/*일반유저 로그인 시작*/
.member_menu_open{position: fixed;width: 1115.5px;height: 60.7vh;background: #ffffff;top: 140px;left: 11px;z-index: 999;padding: 3rem;border: 1px solid black; display: none}
/*일반유저 로그인 끝*/
/*관리자 로그인 시작*/
.admin_menu_open{position: fixed;width: 1115.5px;height: 60.7vh;background: #ffffff;top: 140px;left: 11px;z-index: 999;padding: 3rem;border: 1px solid black; display: none}
/*관리자 로그인 끝*/
/*로그인 안했을떄 시작*/
.menu_open{
	position: fixed;
    width: 739px;
    height: 63.7vh;
    background: #ffffff;
    top: 144px;
    left: 12.5px;
    z-index: 999;
    padding: 3rem;
    display: none;	
}
/*로그인 안했을떄 끝*/

/*햄버거 드롭다운 끝*/	
	
}
/*-------------------------------------------------------------가로 : 769px 이상 967px 이하 끝------------------------------------------------------------------*/
/*-------------------------------------------------------------가로 : 968px 이상 1097px 이하 시작------------------------------------------------------------------*/
@media (min-width: 968px) and (max-width: 1098px) {
/*헤더 시작*/ 
.header{
	 width: 1200px;
	 margin: 0 auto;
	 border-top: 1px solid #c0c0c0;
}
#header_logo{
	font-family: 'SEBANG_Gothic_Bold';
	font-weight: 700;
	font-size: 40px;
	margin: 20px 20px;
	display: flex;
}

a:hover{
	text-decoration: none;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}

a:active{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

/*헤더 끝*/  
/*햄버거 드롭다운 시작*/
/*일반유저 로그인 시작*/
.member_menu_open{position: fixed;width: 1115.5px;height: 60.7vh;background: #ffffff;top: 140px;left: 11px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*일반유저 로그인 끝*/
/*관리자 로그인 시작*/
.admin_menu_open{position: fixed;width: 1115.5px;height: 60.7vh;background: #ffffff;top: 140px;left: 11px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*관리자 로그인 끝*/
/*로그인 안했을떄 시작*/
.menu_open{
	position: fixed;
    width: 739px;
    height: 63.7vh;
    background: #ffffff;
    top: 144px;
    left: 12.5px;
    z-index: 999;
    padding: 3rem;
    display: none;
}
/*로그인 안했을떄 끝*/

/*햄버거 드롭다운 끝*/	
		
}

/*-------------------------------------------------------------가로 : 968px 이상 1097px 이하 끝------------------------------------------------------------------*/
/*-------------------------------------------------------------가로 : 1098px 이상 1281px 이하 시작------------------------------------------------------------------*/
@media (min-width: 1098px) and (max-width: 1281px) {
/*헤더 시작*/ 
.header{
	 width: 1200px;
	 margin: 0 auto;
	 border-top: 1px solid #c0c0c0;
}
#header_logo{
	font-family: 'SEBANG_Gothic_Bold';
	font-weight: 700;
	font-size: 40px;
	margin: 20px 20px;
	display: flex;
}

a:hover{
	text-decoration: none;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}

a:active{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

/*헤더 끝*/  
/*햄버거 드롭다운 시작*/
/*일반유저 로그인 시작*/
.member_menu_open{position: fixed;width: 1115.5px;height: 55.7vh;background: #ffffff;top: 140px;left: 45px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*일반유저 로그인 끝*/
/*관리자 로그인 시작*/
.admin_menu_open{position: fixed;width: 1115.5px;height: 55.7vh;background: #ffffff;top: 140px;left: 45px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*관리자 로그인 끝*/
/*로그인 안했을떄 시작*/
.menu_open{
	position: fixed;
    width: 739px;
    height: 54.7vh;
    background: #ffffff;
    top: 144px;
    left: 45.5px;
    z-index: 999;
    padding: 3rem;
    display: none;
}
/*로그인 안했을떄 끝*/


/*햄버거 드롭다운 끝*/	
	
}
/*-------------------------------------------------------------가로 : 1098px 이상 1281px 이하 끝------------------------------------------------------------------*/
/*-------------------------------------------------------------가로 : 1282px 이상 1536px 이하 시작------------------------------------------------------------------*/
@media (min-width: 1282px) and (max-width: 1536px) {
/*헤더 시작*/ 
.header{
	 width: 1200px;
	 margin: 0 auto;
	 border-top: 1px solid #c0c0c0;
}
#header_logo{
	font-family: 'SEBANG_Gothic_Bold';
	font-weight: 700;
	font-size: 40px;
	margin: 20px 20px;
	display: flex;
}

a:hover{
	text-decoration: none;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}

a:active{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

/*헤더 끝*/  
/*햄버거 드롭다운 시작*/
/*일반유저 로그인 시작*/
.member_menu_open{position: fixed;width: 1115.5px;height: 46.7vh;background: #ffffff;top: 140px;left: 172px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*일반유저 로그인 끝*/
/*관리자 로그인 시작*/
.admin_menu_open{position: fixed;width: 1115.5px;height: 46.7vh;background: #ffffff;top: 140px;left: 172px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*관리자 로그인 끝*/
/*로그인 안했을떄 시작*/
.menu_open{
	position: fixed;
    width: 739px;
    height: 47.7vh;
    background: #ffffff;
    top: 134px;
    left: 172px;
    z-index: 999;
    padding: 3rem;
    display: none;
}
/*로그인 안했을떄 끝*/


/*햄버거 드롭다운 끝*/

}
/*-------------------------------------------------------------가로 : 1282px 이상 1536px 이하 끝------------------------------------------------------------------*/
/*-------------------------------------------------------------가로 : 1537px 이상 1746px 이하 시작------------------------------------------------------------------*/
@media (min-width: 1537px) and (max-width: 1746px) {
/*헤더 시작*/ 
.header{
	 width: 1200px;
	 margin: 0 auto;
	 border-top: 1px solid #c0c0c0;
}
#header_logo{
	font-family: 'SEBANG_Gothic_Bold';
	font-weight: 700;
	font-size: 40px;
	margin: 20px 20px;
	display: flex;
}

a:hover{
	text-decoration: none;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}

a:active{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

/*헤더 끝*/  
/*햄버거 드롭다운 시작*/
/*일반유저 로그인 시작*/
.member_menu_open{position: fixed;width: 1115.5px;height: 40.7vh;background: #ffffff;top: 140px;left: 275px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*일반유저 로그인 끝*/
/*관리자 로그인 시작*/
.admin_menu_open{position: fixed;width: 1115.5px;height: 40.7vh;background: #ffffff;top: 140px;left: 275px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*관리자 로그인 끝*/
/*로그인 안했을떄 시작*/
.menu_open{
	position: fixed;
    width: 739px;
    height: 39.7vh;
    background: #ffffff;
    top: 147px;
    left: 276px;
    z-index: 999;
    padding: 3rem;
    display: none;
}
/*로그인 안했을떄 끝*/	
/*햄버거 드롭다운 끝*/
}
/*-------------------------------------------------------------가로 : 1536px 이상 1746px 이하 끝------------------------------------------------------------------*/
/*-------------------------------------------------------------가로 : 1746px 이상 1919px 이하 시작---------------------------------------------------------*/
@media (min-width: 1746px) and (max-width: 1919px) {
/*헤더 시작*/ 
.header{
	 width: 1200px;
	 margin: 0 auto;
	 border-top: 1px solid #c0c0c0;
}
#header_logo{
	font-family: 'SEBANG_Gothic_Bold';
	font-weight: 700;
	font-size: 40px;
	margin: 20px 20px;
	display: flex;
}

a:hover{
	text-decoration: none;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}

a:active{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

/*헤더 끝*/  
/*햄버거 드롭다운 시작*/
/*일반유저 로그인 시작*/
.member_menu_open{position: fixed;width: 1115.5px;height: 37.7vh;background: #ffffff;top: 134px;left: 362px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*일반유저 로그인 끝*/
/*관리자 로그인 시작*/
.admin_menu_open{position: fixed;width: 1115.5px;height: 37.7vh;background: #ffffff;top: 134px;left: 362px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*관리자 로그인 끝*/
/*로그인 안했을떄 시작*/
.menu_open{position: fixed;width: 740px;height: 37.7vh;background: #ffffff;top: 134px;left: 363px;z-index: 999;padding: 3rem;display: none}
/*로그인 안했을떄 끝*/
/*햄버거 드롭다운 끝*/	
}
/*-------------------------------------------------------------가로 : 1800px 이상 1919px 이하 시작---------------------------------------------------------*/
/*-------------------------------------------------------------가로 : 2133px 이상 2399px 이하 끝------------------------------------------------------------------*/
@media (min-width: 1920px) and (max-width: 2132px) {
/*헤더 시작*/ 
.header{
	 width: 1200px;
	 margin: 0 auto;
	 border-top: 1px solid #c0c0c0;
}
#header_logo{
	font-family: 'SEBANG_Gothic_Bold';
	font-weight: 700;
	font-size: 40px;
	margin: 20px 20px;
	display: flex;
}

a:hover{
	text-decoration: none;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}

a:active{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

/*헤더 끝*/  
/*햄버거 드롭다운 시작*/
/*일반유저 로그인 시작*/
.member_menu_open{position: fixed;width: 1115.5px;height: 37.7vh;background: #ffffff;top: 144px;left: 362px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*일반유저 로그인 끝*/
/*관리자 로그인 시작*/
.admin_menu_open{position: fixed;width: 1115.5px;height: 37.7vh;background: #ffffff;top: 144px;left: 362px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*관리자 로그인 끝*/
/*로그인 안했을떄 시작*/
.menu_open{position: fixed;width: 739px;height: 37.7vh;background: #ffffff;top: 144px;left: 363px;z-index: 999;padding: 3rem;display: none}
/*로그인 안했을떄 끝*/
/*햄버거 드롭다운 끝*/	
}
/*-------------------------------------------------------------가로 : 1920px 이상 2132px 이하 끝---------------------------------------------------------*/
/*-------------------------------------------------------------가로 : 2133px 이상 2399px 이하 끝------------------------------------------------------------------*/
@media (min-width: 2133px) and (max-width: 2399px) {
/*헤더 시작*/ 
.header{
	 width: 1200px;
	 margin: 0 auto;
	 border-top: 1px solid #c0c0c0;
}
#header_logo{
	font-family: 'SEBANG_Gothic_Bold';
	font-weight: 700;
	font-size: 40px;
	margin: 20px 20px;
	display: flex;
}

a:hover{
	text-decoration: none;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}

a:active{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

/*헤더 끝*/  
/*햄버거 드롭다운 시작*/
/*일반유저 로그인 시작*/
.member_menu_open{position: fixed;width: 1115.5px;height: 33.7vh;background: #ffffff;top: 144px;left: 468px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*일반유저 로그인 끝*/
/*관리자 로그인 시작*/
.admin_menu_open{position: fixed;width: 1115.5px;height: 33.7vh;background: #ffffff;top: 144px;left: 468px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*관리자 로그인 끝*/
/*로그인 안했을떄 시작*/
.menu_open{
    position: fixed;
    width: 739px;
    height: 33vh;
    background: #ffffff;
    top: 144px;
    left: 469px;
    z-index: 999;
    padding: 3rem;
    display: none;
}
/*로그인 안했을떄 끝*/
/*햄버거 드롭다운 끝*/
}
/*-------------------------------------------------------------가로 : 2133px 이상 2399px 이하 끝------------------------------------------------------------------*/
/*-------------------------------------------------------------가로 : 2400px 이상 시작------------------------------------------------------------------*/
@media (min-width: 2400px) and (max-width: 2559px) {
/*헤더 시작*/ 
.header{
	 width: 1200px;
	 margin: 0 auto;
	 border-top: 1px solid #c0c0c0;
}
#header_logo{
	font-family: 'SEBANG_Gothic_Bold';
	font-weight: 700;
	font-size: 40px;
	margin: 20px 20px;
	display: flex;
}

a:hover{
	text-decoration: none;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}

a:active{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}

/*헤더 끝*/  
/*햄버거 드롭다운 시작*/
/*일반유저 로그인 시작*/
.member_menu_open{position: fixed;width: 1115.5px;height: 29.7vh;background: #ffffff;top: 144px;left: 600px;;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*일반유저 로그인 끝*/
/*관리자 로그인 시작*/
.admin_menu_open{position: fixed;width: 1115.5px;height: 29.7vh;background: #ffffff;top: 144px;left: 600px;;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*관리자 로그인 끝*/
/*로그인 안했을떄 시작*/
.menu_open{
	position: fixed;
    width: 739px;
    height: 30.5vh;
    background: #ffffff;
    top: 144px;
    left: 601px;
    z-index: 999;
    padding: 3rem;
    display: none;
}
/*로그인 안했을떄 끝*/
/*햄버거 드롭다운 끝*/
}
/*-------------------------------------------------------------가로 : 2400px 이상 2559px 이하 끝------------------------------------------------------------------*/
/*-------------------------------------------------------------가로 : 2560px 이상 3839px 이하  시작------------------------------------------------------*/
@media (min-width: 2560px) and (max-width: 2840px) {
/*헤더 시작*/ 
.header{
	 width: 1200px;
	 margin: 0 auto;
	 border-top: 1px solid #c0c0c0;
}
#header_logo{
	font-family: 'SEBANG_Gothic_Bold';
	font-weight: 700;
	font-size: 40px;
	margin: 20px 20px;
	display: flex;
}

a:hover{
	text-decoration: none;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}

a:active{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}


/*헤더 끝*/  
/*햄버거 드롭다운 시작*/
/*일반유저 로그인 시작*/
.member_menu_open{position: fixed;width: 1115.5px;height: 27.7vh;background: #ffffff;top: 144px;left: 679px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*일반유저 로그인 끝*/
/*관리자 로그인 시작*/
.admin_menu_open{position: fixed;width: 1115.5px;height: 27.7vh;background: #ffffff;top: 144px;left: 679px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*관리자 로그인 끝*/
/*로그인 안했을떄 시작*/
.menu_open{    
	position: fixed;
    width: 738px;
    height: 28.7vh;
    background: #ffffff;
    top: 145px;
    left: 681px;
    z-index: 999;
    padding: 3rem;
    display: none;
}
/*로그인 안했을떄 끝*/
/*햄버거 드롭다운 끝*/
}
/*-------------------------------------------------------------가로 : 2560px 이상 3839px 이하  끝------------------------------------------------------*/
/*-------------------------------------------------------------가로 : 2841px 이상 3839px 이하  시작------------------------------------------------------*/
@media (min-width: 2841px) and (max-width: 3839px) {
/*헤더 시작*/ 
.header{
	 width: 1200px;
	 margin: 0 auto;
	 border-top: 1px solid #c0c0c0;
}
#header_logo{
	font-family: 'SEBANG_Gothic_Bold';
	font-weight: 700;
	font-size: 40px;
	margin: 20px 20px;
	display: flex;
}

a:hover{
	text-decoration: none;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}

a:active{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}


/*헤더 끝*/  
/*햄버거 드롭다운 시작*/
/*일반유저 로그인 시작*/
.member_menu_open{position: fixed;width: 1115.5px;height: 24.7vh;background: #ffffff;top: 144px;left: 838px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*일반유저 로그인 끝*/
/*관리자 로그인 시작*/
.admin_menu_open{position: fixed;width: 1115.5px;height: 24.7vh;background: #ffffff;top: 144px;left: 838px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*관리자 로그인 끝*/
/*로그인 안했을떄 시작*/
.menu_open{
	position: fixed;
    width: 739px;
    height: 25.7vh;
    background: #ffffff;
    top: 144px;
    left: 839px;
    z-index: 999;
    padding: 3rem;
    display: none;
}
/*로그인 안했을떄 끝*/

/*햄버거 드롭다운 끝*/
}
/*-------------------------------------------------------------가로 : 2841px 이상 3839px 이하  끝------------------------------------------------------*/
/*-------------------------------------------------------------가로 : 3840px 이상 5759px 이하  시작------------------------------------------------------*/
@media (min-width: 3840px) and (max-width: 5759px) {
/*헤더 시작*/ 
.header{
	 width: 1200px;
	 margin: 0 auto;
	 border-top: 1px solid #c0c0c0;
}
#header_logo{
	font-family: 'SEBANG_Gothic_Bold';
	font-weight: 700;
	font-size: 40px;
	margin: 20px 20px;
	display: flex;
}

a:hover{
	text-decoration: none;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}

a:active{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}


/*헤더 끝*/
/*햄버거 드롭다운 시작*/
/*일반유저 로그인 시작*/
.member_menu_open{position: fixed;width: 1115.5px;height: 19.3vh;background: #ffffff;top: 144px;left: 1314px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*일반유저 로그인 끝*/
/*관리자 로그인 시작*/
.admin_menu_open{position: fixed;width: 1115.5px;height: 19.3vh;background: #ffffff;top: 144px;left: 1314px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*관리자 로그인 끝*/
/*로그인 안했을떄 시작*/
.menu_open{position: fixed;
    width: 739px;
    height: 19vh;
    background: #ffffff;
    top: 150px;
    left: 1315px;
    z-index: 999;
    padding: 3rem;
    display: none;
}
/*로그인 안했을떄 끝*/
/*햄버거 드롭다운 끝*/
}
/*-------------------------------------------------------------가로 : 3840px 이상 5759px 이하  끝------------------------------------------------------*/
/*-------------------------------------------------------------가로 : 5760px 이상 7679px 이하  시작------------------------------------------------------*/
@media (min-width: 5760px) and (max-width: 7679px) { 
/*헤더 시작*/ 
.header{
	 width: 1200px;
	 margin: 0 auto;
	 border-top: 1px solid #c0c0c0;
}
#header_logo{
	font-family: 'SEBANG_Gothic_Bold';
	font-weight: 700;
	font-size: 40px;
	margin: 20px 20px;
	display: flex;
}

a:hover{
	text-decoration: none;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}

a:active{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}


/*헤더 끝*/ 
/*햄버거 드롭다운 시작*/
/*일반유저 로그인 시작*/
.member_menu_open{position: fixed;width: 1115.5px;height: 12.3vh;background: #ffffff;top: 154px;left: 2289px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*일반유저 로그인 끝*/
/*관리자 로그인 시작*/
.admin_menu_open{position: fixed;width: 1115.5px;height: 12.3vh;background: #ffffff;top: 154px;left: 2289px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*관리자 로그인 끝*/
/*로그인 안했을떄 시작*/
.menu_open{position: fixed;
    width: 740px;
    height: 12.5vh;
    background: #ffffff;
    top: 154px;
    left: 2293px;
    z-index: 999;
    padding: 3rem;
    display: none;
}
/*로그인 안했을떄 끝*/
/*햄버거 드롭다운 끝*/
} 
/*--------------------------------------------가로 : 5760px 이상 7679px 이하  끝 ------------------------------------------------------------------------ */
/*-------------------------------------------------------------가로 : 7680px 이상 10000px 이하  시작------------------------------------------------------*/
@media (min-width: 7680px) and (max-width: 10000px) { 
/*헤더 시작*/ 
.header{
	 width: 1200px;
	 margin: 0 auto;
	 border-top: 1px solid #c0c0c0;
}
#header_logo{
	font-family: 'SEBANG_Gothic_Bold';
	font-weight: 700;
	font-size: 40px;
	margin: 20px 20px;
	display: flex;
}

a:hover{
	text-decoration: none;
	color: black;
}
a:link{
	text-decoration: none;
	color: black;
}

a:active{
	text-decoration: none;
	color: black;
}

a:visited{
	text-decoration: none;
	color: black;
}


/*헤더 끝*/  
/*햄버거 드롭다운 시작*/
/*일반유저 로그인 시작*/
.member_menu_open{position: fixed;width: 1115.5px;height: 9.7vh;background: #ffffff;top: 145px;left: 3253px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*일반유저 로그인 끝*/
/*관리자 로그인 시작*/
.admin_menu_open{position: fixed;width: 1115.5px;height: 9.7vh;background: #ffffff;top: 145px;left: 3253px;z-index: 999;padding: 3rem; border: 1px solid black; display: none}
/*관리자 로그인 끝*/
/*로그인 안했을떄 시작*/
.menu_open{position: fixed;
    width: 740px;
    height: 9.5vh;
    background: #ffffff;
    top: 154px;
    left: 3254px;
    z-index: 999;
    padding: 3rem;display: none}
/*로그인 안했을떄 끝*/
/*햄버거 드롭다운 끝*/
} 
/*--------------------------------------------가로 : 7680px 이상 10000px 이하  끝-------더이상 없음------------------------------------------------------------ */










/*이달의 인기 브랜드 , 카테고리 시작*/
.brand {
	border: 1px solid black;
	width: 800px;
	height: 48px;
	margin: 10px;
	float: left;
}
/*member_brand 시작*/
.member_brand {
	border: 1px solid black;
	width: 98%;
	height: 48px;
	margin: 10px;
	float: left;
}
/*member_brand 끝*/

/*admin_brand 시작*/
.admin_brand {
	border: 1px solid black;
	width: 98%;
	height: 48px;
	margin: 10px;
	float: left;
}
/*admin_brand 끝*/

.month_popular_brand{
	display: flex;
	font-weight: 700;
	font-family: 'SEBANG_Gothic_Bold';
	justify-content: center;
}
/*member_month_popular_brand 시작*/
.member_month_popular_brand{
	display: flex;
	font-weight: 700;
	font-family: 'SEBANG_Gothic_Bold';
	justify-content: center;
}
/*member_month_popular_brand 끝*/

/*admin_month_popular_brand 시작*/
.admin_month_popular_brand{
	display: flex;
	font-weight: 700;
	font-family: 'SEBANG_Gothic_Bold';
	justify-content: center;
}
/*admin_month_popular_brand 끝*/





/*member가 로그인했을때 카테고리 시작*/
.member_category{
	border: 1px solid black;
	width: 98%;
	height: 390px;
	margin: 0 10px 10px 10px;
	float: left;
}
/*member가 로그인했을때 카테고리 끝*/

/*admin이 로그인했을때 카테고리 시작*/
.admin_category{
	border: 1px solid black;
	width: 98%;
	height: 390px;
	margin: 0 10px 10px 10px;
	float: left;
}
/*admin가 로그인했을때 카테고리 끝*/


.brand_content{
	text-align: center;
	font-weight: 700px;
	font-family: 'SEBANG_Gothic_Bold';
}
/*member_brand_content 시작*/
.member_brand_content{
	text-align: center;
	font-weight: 700px;
	font-family: 'SEBANG_Gothic_Bold';
}
/*member_brand_content 끝*/


/*admin_brand_content 시작*/
.admin_brand_content{
	text-align: center;
	font-weight: 700px;
	font-family: 'SEBANG_Gothic_Bold';
}
/*admin_brand_content 끝*/

.category_content{
	text-align: center;
	font-weight: 700px;
	font-family: 'SEBANG_Gothic_Bold';	
}
/*member가 로그인했을때 category_content 시작*/
.member_category_content{
	text-align: center;
	font-weight: 700px;
	font-family: 'SEBANG_Gothic_Bold';	
}
/*member가 로그인했을때 category_content 끝*/
/*admin가 로그인했을때 category_content 시작*/
.admin_category_content{
	text-align: center;
	font-weight: 700px;
	font-family: 'SEBANG_Gothic_Bold';	
}
/*admin가 로그인했을때 category_content 끝*/



/*이달의 인기 브랜드, 카테고리 끝*/





/*로그인 시작*/
.login_content{
	margin: 10px 0;
	text-align: center;
	font-weight:700;
	font-size: 35px;
	font-family: 'SEBANG_Gothic_Bold';
}
.id_content{
	margin: 60px 0 10px 50px;
	font-weight:700;
	font-family: 'SEBANG_Gothic_Bold';
}

.id_input{
	border: 1px solid black;
	width: 280px;
	height: 25px;
	margin: 0 29px 0 50px;
}
.password_content{
	margin: 20px 0 10px 50px;
	font-weight:700;
	font-family: 'SEBANG_Gothic_Bold';
}

.passoword_input{
	border: 1px solid black;
	width: 280px;
	height: 25px;
	margin: 0 29px 0 50px;	
}
/*아이디,비밀번호 상태 시작*/
.alertp{
	font-weight:700;
	font-family: 'SEBANG_Gothic_Bold';
	margin: 10px 29px 0 50px;		
}

/*아이디,비밀번호 상태 끝*/
.login_button{
	width: 140px;
	height: 50px;
	margin: 30px 110px 0 110px;
	font-size: 20px;
	font-weight: 700;
	font-family: 'SEBANG_Gothic_Bold';
	border: 1px solid black;
}
.login_button:hover{
	background-color: #cfcdcd;
	color: white;
	cursor: pointer;
}
.signup_find{
	margin: 30px 0 0 0;
	display: flex;
	justify-content: center;
}
/*로그인 끝*/
/*admin일때 로그인했을때 상태 시작*/
.admin_content{
	margin: 10px 0;
	text-align: center;
	font-weight:700;
	font-size: 35px;
	font-family: 'SEBANG_Gothic_Bold';
	position: relative;
    top: 10px;
    left: 440px;
}
.admin_find{
	justify-content: center;
	font-weight:700;
	font-size: 30px;
	font-family: 'SEBANG_Gothic_Bold';	
	position: relative;	
	top: 25px;
	left: 450px;		
}
/*admin일때 로그인했을때 상태 끝*/
/*고객이 로그인했을때 상태 시작*/
.member_content{
	text-align: center;
	font-weight:700;
	font-size: 35px;
	font-family: 'SEBANG_Gothic_Bold';	
	position: relative;
	top: 19px;
	left: 235px;
}
.member_find{
	display: flex;
	justify-content: center;
	font-weight:700;
	font-size: 20px;
	font-family: 'SEBANG_Gothic_Bold';	
	width: 480px;
	height: 40px;	
	position: relative;
	top: 30px;
	left : 234px;
}
/*고객이 로그인했을때 상태 끝*/


.mypage_component{
	margin: 0 auto;
	text-align: center;
}
 table{
 	border:solid 1px black;
 	border-collapse: collapse;
 	text-align: center;
 	margin: 0 auto;
 }
 tr, th, td{
 	border: solid 1px black;
 }



/* footerURL  */
#footerURL{
	text-align:center;
	padding-top: 60px;
}
/*하단 끝*/
/* 모두 끝 */


/*  드롭다운 시작 */
/* reset css */
html{font-size: 10px}
body{font-size: 1.6rem}
*{margin: 0;padding: 0;}
ul li,
ol li{list-style: none;}
a{text-decoration: none;color: inherit;}


/*#header{display: flex;justify-content: space-between;align-items: center;padding: 2rem;position: relative;}*/
#gnb{display: flex;z-index: 99;margin-left: auto;}
#gnb > .dept1 {position: relative;;padding: 1rem 2rem;text-align: center;}
 #gnb > .dept1 > a.active{color: red;font-weight: bold}

#gnb .inner_menu {position: absolute;top: 100%;left:50%;transform: translateX(-50%);width:100%;padding-top:3rem;display: none}
#gnb  .dept2 {padding: 1rem 0;color: #555}
#gnb  .dept2 > a:hover,
#gnb  .dept2 > a:active,
#gnb  .dept2 > a:focus {font-weight: bold}
/*.menu_bar  {margin-left: auto;}*/
.menu_bar {z-index: 9999;position: relative; left: 46px; bottom: 7px;}
.menu_bar.active span:nth-child(1){display: none}
.menu_bar.active span:nth-child(2){transform:rotate(130deg)}
.menu_bar.active span:nth-child(3){transform: rotate(45deg);top: 0px;position: absolute}
.menu_bar span{width: 22px;height: 2px;background: #555;display: block;margin: 6px}
/* 햄버거 버튼을 열었을때 하부칸들 눌렀을때 크기는 얘를 줄이면 된다. */
.menu_open > ul{display: flex; justify-content: center;}
.menu_open > ul li{width: 150px;}

/*member가 로그인 했을때 햄버거 드롭다운 시작*/
.member_menu_bar {z-index: 9999;position: relative; left: 46px; bottom: 7px;}
.member_menu_bar.active span:nth-child(1){display: none}
.member_menu_bar.active span:nth-child(2){transform:rotate(130deg)}
.member_menu_bar.active span:nth-child(3){transform: rotate(45deg);top: 0px;position: absolute}
.member_menu_bar span{width: 22px;height: 2px;background: #555;display: block;margin: 6px}
.member_menu_open > ul{display: flex; justify-content: center;}
.member_menu_open > ul li{width: 150px;}
/*member가 로그인 했을때 햄버거 드롭다운 끝*/

/*admin이 로그인 했을때 햄버거 드롭다운 시작*/
.admin_menu_bar {z-index: 9999;position: relative; left: 46px; bottom: 7px;}
.admin_menu_bar.active span:nth-child(1){display: none}
.admin_menu_bar.active span:nth-child(2){transform:rotate(130deg)}
.admin_menu_bar.active span:nth-child(3){transform: rotate(45deg);top: 0px;position: absolute}
.admin_menu_bar span{width: 22px;height: 2px;background: #555;display: block;margin: 6px}

.admin_menu_open > ul{display: flex; justify-content: center;}
.admin_menu_open > ul li{width: 150px;}
/*admin이 로그인 했을때 햄버거 드롭다운 끝*/


.hd_bg{background: #fff;width: 100%;height: 0;left: 0;z-index: 1;position: absolute;}

.visual{background:#ccd1f1;width: 100%;height: 100vh;}

/*  드롭다운 끝 */







